**SEGMENTING AND CLUSTERING NEIGHBORHOOD IN TORONTO, PART 2**

Import libraries

In [2]:
import numpy as np
import pandas as pd
import requests

Convert data from a wikipedia page into a pandas dataframe

In [3]:
wikipedia_website = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikipedia_page = requests.get(wikipedia_website)

dataframe = pd.read_html(wikipedia_page.content)[0]
df = dataframe[dataframe.Borough != 'Not assigned']
df.head(10)

df

    Postal Code  ...                                      Neighbourhood
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
5           M6A  ...                   Lawrence Manor, Lawrence Heights
6           M7A  ...        Queen's Park, Ontario Provincial Government
..          ...  ...                                                ...
160         M8X  ...      The Kingsway, Montgomery Road, Old Mill North
165         M4Y  ...                               Church and Wellesley
168         M7Y  ...  Business reply mail Processing Centre, South C...
169         M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

If the Neighbourhood is not assigned, then it will be the same as the Borough

In [4]:
df.Neighbourhood.replace('Not assigned', df.Borough)
df

    Postal Code  ...                                      Neighbourhood
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
5           M6A  ...                   Lawrence Manor, Lawrence Heights
6           M7A  ...        Queen's Park, Ontario Provincial Government
..          ...  ...                                                ...
160         M8X  ...      The Kingsway, Montgomery Road, Old Mill North
165         M4Y  ...                               Church and Wellesley
168         M7Y  ...  Business reply mail Processing Centre, South C...
169         M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

Group Neighbourhood with the same postal code

In [5]:
df2 = df.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(lambda x : ','.join(x))
df2 = df2.reset_index()
df2.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Find the number of rows in the dataframe

In [7]:
nbRows = df.shape[0]
print('There are ', nbRows, ' rows in our dataframe.')

There are  103  rows in our dataframe.

In [9]:
def get_geocode(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude,longitude

In [10]:
df_geo=pd.read_csv('http://cocl.us/Geospatial_data')
df_geo

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [17]:

geo_merged = pd.merge(df_geo, df2, on='Postal Code')
geo_data= geo_merged[['Postal Code','Borough','Neighbourhood','Latitude','Longitude']]
geo_data.head()

  Postal Code      Borough  ...   Latitude  Longitude
0         M1B  Scarborough  ...  43.806686 -79.194353
1         M1C  Scarborough  ...  43.784535 -79.160497
2         M1E  Scarborough  ...  43.763573 -79.188711
3         M1G  Scarborough  ...  43.770992 -79.216917
4         M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]