SEGMENTING AND CLUSTERING NEIGHBORHOOD IN TORONTO, PART 2

In [13]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import os
from sklearn.cluster import KMeans
import folium 
from geopy.geocoders import Nominatim 
import matplotlib.cm as cm
import matplotlib.colors as colors

Convert data from a wikipedia page into a pandas dataframe

In [5]:
wikipedia_website = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikipedia_page = requests.get(wikipedia_website)

dataframe = pd.read_html(wikipedia_page.content)[0]
df = dataframe[dataframe.Borough != 'Not assigned']
df.head(10)

df

    Postal Code  ...                                      Neighbourhood
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
5           M6A  ...                   Lawrence Manor, Lawrence Heights
6           M7A  ...        Queen's Park, Ontario Provincial Government
..          ...  ...                                                ...
160         M8X  ...      The Kingsway, Montgomery Road, Old Mill North
165         M4Y  ...                               Church and Wellesley
168         M7Y  ...  Business reply mail Processing Centre, South C...
169         M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

If the Neighbourhood is not assigned, then it will be the same as the Borough

In [6]:
df.Neighbourhood.replace('Not assigned', df.Borough)
df

    Postal Code  ...                                      Neighbourhood
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
5           M6A  ...                   Lawrence Manor, Lawrence Heights
6           M7A  ...        Queen's Park, Ontario Provincial Government
..          ...  ...                                                ...
160         M8X  ...      The Kingsway, Montgomery Road, Old Mill North
165         M4Y  ...                               Church and Wellesley
168         M7Y  ...  Business reply mail Processing Centre, South C...
169         M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

Group Neighbourhood with the same postal code

In [7]:
df2 = df.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(lambda x : ','.join(x))
df2 = df2.reset_index()
df2.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

Find the number of rows in the dataframe

In [8]:
nbRows = df.shape[0]
print('There are ', nbRows, ' rows in our dataframe.')

There are  103  rows in our dataframe.

In [9]:
def get_geocode(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return latitude,longitude

In [10]:
df_geo=pd.read_csv('http://cocl.us/Geospatial_data')
df_geo

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [11]:

geo_merged = pd.merge(df_geo, df2, on='Postal Code')
geo_data= geo_merged[['Postal Code','Borough','Neighbourhood','Latitude','Longitude']]
geo_data.head()

  Postal Code      Borough  ...   Latitude  Longitude
0         M1B  Scarborough  ...  43.806686 -79.194353
1         M1C  Scarborough  ...  43.784535 -79.160497
2         M1E  Scarborough  ...  43.763573 -79.188711
3         M1G  Scarborough  ...  43.770992 -79.216917
4         M1H  Scarborough  ...  43.773136 -79.239476

[5 rows x 5 columns]

In [12]:

toronto_data=geo_data[geo_data['Borough'].str.contains("Toronto")]
toronto_data.head()

   Postal Code          Borough  ...   Latitude  Longitude
37         M4E     East Toronto  ...  43.676357 -79.293031
41         M4K     East Toronto  ...  43.679557 -79.352188
42         M4L     East Toronto  ...  43.668999 -79.315572
43         M4M     East Toronto  ...  43.659526 -79.340923
44         M4N  Central Toronto  ...  43.728020 -79.388790

[5 rows x 5 columns]

In [15]:

CLIENT_ID = 'MZD2YKAEVGPL0SOZW0T4TFR0UQM2FEC24WZJRS2IJZS0ZTFP' # your Foursquare ID
CLIENT_SECRET = 'BM325RX2K13OLADN3XPVSPLRL05LMKSYAJOEXLPW0IYJEX0L' # your Foursquare Secret
VERSION = '20180604'

In [18]:

def getNearbyVenues(names, latitudes, longitudes):
    radius=500
    LIMIT=100
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

toronto_venues = getNearbyVenues(names=toronto_data['Neighbourhood'],
                                   latitudes=toronto_data['Latitude'],
                                   longitudes=toronto_data['Longitude']
                                  )
toronto_venues

The Beaches
The Danforth West, Riverdale
India Bazaar, The Beaches West
Studio District
Lawrence Park
Davisville North
North Toronto West, Lawrence Park
Davisville
Moore Park, Summerhill East
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
Rosedale
St. James Town, Cabbagetown
Church and Wellesley
Regent Park, Harbourfront
Garden District, Ryerson
St. James Town
Berczy Park
Central Bay Street
Richmond, Adelaide, King
Harbourfront East, Union Station, Toronto Islands
Toronto Dominion Centre, Design Exchange
Commerce Court, Victoria Hotel
Roselawn
Forest Hill North & West, Forest Hill Road Park
The Annex, North Midtown, Yorkville
University of Toronto, Harbord
Kensington Market, Chinatown, Grange Park
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
Stn A PO Boxes
First Canadian Place, Underground city
Christie
Dufferin, Dovercourt Village
Little Portugal, Trinity
Brockton, Parkdale Village, Exhibition Place
High Park, The Junction South
Parkdale, Roncesvalles
Runnymede, Swansea
Queen's Park, Ontario Provincial Government
Business reply mail Processing Centre, South Central Letter Processing Plant Toronto

                                           Neighborhood  ...        Venue Category
0                                           The Beaches  ...                 Trail
1                                           The Beaches  ...     Health Food Store
2                                           The Beaches  ...                   Pub
3                                           The Beaches  ...          Neighborhood
4                          The Danforth West, Riverdale  ...        Cosmetics Shop
...                                                 ...  ...                   ...
1639  Business reply mail Processing Centre, South C...  ...    Light Rail Station
1640  Business reply mail Processing Centre, South C...  ...                  Park
1641  Business reply mail Processing Centre, South C...  ...                   Spa
1642  Business reply mail Processing Centre, South C...  ...    Light Rail Station
1643  Business reply mail Processing Centre, South C...  ...  Gym / Fitness Center

[1644 rows x 7 columns]

In [19]:
toronto_venues.groupby('Neighborhood').count()

                                                    Neighbourhood Latitude  ...  Venue Category
Neighborhood                                                                ...
Berczy Park                                                             58  ...              58
Brockton, Parkdale Village, Exhibition Place                            24  ...              24
Business reply mail Processing Centre, South Ce...                      15  ...              15
CN Tower, King and Spadina, Railway Lands, Harb...                      16  ...              16
Central Bay Street                                                      65  ...              65
Christie                                                                18  ...              18
Church and Wellesley                                                    77  ...              77
Commerce Court, Victoria Hotel                                         100  ...             100
Davisville                                                              36  ...              36
Davisville North                                                         8  ...               8
Dufferin, Dovercourt Village                                            17  ...              17
First Canadian Place, Underground city                                 100  ...             100
Forest Hill North & West, Forest Hill Road Park                          4  ...               4
Garden District, Ryerson                                               100  ...             100
Harbourfront East, Union Station, Toronto Islands                      100  ...             100
High Park, The Junction South                                           25  ...              25
India Bazaar, The Beaches West                                          22  ...              22
Kensington Market, Chinatown, Grange Park                               69  ...              69
Lawrence Park                                                            3  ...               3
Little Portugal, Trinity                                                44  ...              44
Moore Park, Summerhill East                                              4  ...               4
North Toronto West, Lawrence Park                                       18  ...              18
Parkdale, Roncesvalles                                                  14  ...              14
Queen's Park, Ontario Provincial Government                             34  ...              34
Regent Park, Harbourfront                                               46  ...              46
Richmond, Adelaide, King                                               100  ...             100
Rosedale                                                                 4  ...               4
Roselawn                                                                 1  ...               1
Runnymede, Swansea                                                      34  ...              34
St. James Town                                                          84  ...              84
St. James Town, Cabbagetown                                             47  ...              47
Stn A PO Boxes                                                          98  ...              98
Studio District                                                         40  ...              40
Summerhill West, Rathnelly, South Hill, Forest ...                      16  ...              16
The Annex, North Midtown, Yorkville                                     21  ...              21
The Beaches                                                              4  ...               4
The Danforth West, Riverdale                                            42  ...              42
Toronto Dominion Centre, Design Exchange                               100  ...             100
University of Toronto, Harbord                                          36  ...              36

[39 rows x 6 columns]